body{
    overflow: auto;
}
header{
    font-family: Arial;
    width: 100%;
}
div.main-picture img{
    width: 100%;    
}
h1, h2{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #024282;
    padding: 10px;
}
picture.lic-main-logo{
    width: 80%;
}
nav{
    background-color:#024282;
    text-align: center;
    padding-top:3px ;
    padding-bottom: 3px;
}
nav a.active{
    background-color: white;
    color: blue;
}

nav a{
    font-size: 150%;
    text-align: center;
    width: 97%;
    margin: 0.5%;
    background-color: transparent;
    border: transparent 4px solid;
    text-decoration: none;
    border-radius: 2px;
    display: block;
    transition-delay: 0.1s;
    transition-duration: 0.9s;
    color: white;
}
nav a:hover{
    background-color: lavender;
    color: black;
    border-color: lavender;
}
nav a:active{
    background-color: white;
    color: blueviolet;
}
.main-content{
    display: block;
    width: 100%;
    float:left;
}
.bandage{
    font-family: sans-serif;
    color:#024282 ;
    background-color:#f8c301 ;
    text-align: center;
}
div.agent-profile img{
    width: 100%;
}
.agent-profile{
    width: 100%;
}
footer{
    width: 100%;
    background-color: whitesmoke;
    color: #024282;
}
footer a{
    text-decoration: none;
    display: block;
    color: black;
}





@media screen and (min-width:724px){
    
    nav a{
        display: inline-block;
        width: 29%;
        padding: 1px;
    }
    .agent-profile{
        width: 49.5%;
        display:inline-block
    }
}
