body{
    overflow: auto;
}
header{
    font-family: Arial;
    width: 100%;
}
.front-page{
    text-align: center;
}

div.main-picture img{
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;    
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 500%;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #024282;
}
picture.lic-main-logo{
    width: 80%;
}
div.main-header-logo img{
    text-align: center;
    margin: 2;
    width: 80%;
}
nav{
    background-color:#024282;
    text-align: center;
    padding-top:3px ;
    padding-bottom: 3px;
}
div.directing-to-contact-page a{
    background-color: blue;
    text-align: center;
    text-decoration: none;
    border: blue 2px solid;
    border-radius: 5px;
    transition-duration: 1.2s;
    transition-delay: 0.2s;
    color: white;
    width: 95%;
    padding: 5px;
    margin: 5px;
    display: block;
}
div.directing-to-contact-page a:hover{
    background-color: whitesmoke;
    color: blue;
}
div.directing-to-contact-page a:active{
    background-color: white;
    color: blueviolet;
}
nav a.active{
    background-color: white;
    color: blue;
}
nav a{
    font-size: 200%;
    text-align: center;
    width: 97%;
    margin: 0.5%;
    background-color: transparent;
    border: transparent 4px solid;
    text-decoration: none;
    border-radius: 2px;
    display: block;
    transition-delay: 0.1s;
    transition-duration: 0.9s;
    color: white;
}
nav a:hover{
    background-color: lavender;
    color: black;
    border-color: lavender;
}
nav a:active{
    background-color: white;
    color: blueviolet;
}
.lic-policie-img a{
    width: 100%;
    background-color: #024282;
    border:transparent 4px solid;
    color:white;
    border-radius: 5px;
    text-decoration: none;
    font-family: serif;
    font-size: 200%
    display: inline-block;
    transition-duration: 0.8s;
}
.lic-policie-img a:hover{
    background-color: #f8c301;
    color:#024282;
}
.lic-policie-img a:active{
    background-color: white;
    color: blueviolet;
}
.lic-policie-img{
    width: 93%;
    margin: 3%;
}
.main-content{
    display: block;
    width: 100%;
    float:left;
}
.bandage{
    font-family: sans-serif;
    color:#024282 ;
    background-color:#f8c301 ;
}
.bandage h1,p{
    padding: 10px;
    margin: 1px;
}
.lic-policie-img img{
    width: 100%;
}
footer{
    width: 100%;
    background-color: whitesmoke;
    color: #024282;
}
footer a{
    text-decoration: none;
    display: block;
    color: black;
}





@media screen and (min-width:1080px){
    .main-upper-part-content{
        display:inline-block;
        width: 49%;
        float: left ;
    }
    div.main-header-logo img{
        width:90%;
    }
    nav a{
        display: inline-block;
        width: 29%;
        padding: 1px;
    }
    div.directing-to-contact-page a{
        width: 68%;
        margin-left: 15.8%;
        margin-right: 15.8%;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .lic-policie-img{
        width: 45%;
        margin: 1.2%;
        display: inline-block;
    }
}

@media screen and (min-width:1400px){
    h1, div.directing-to-contact-page a{

        margin-bottom: 5px;
        margin-top: 10px;
    }
    div.directing-to-contact-page a.contact-link{
        width: 40%;
        margin-left: 29.9%;
        margin-right: 29.9%;
    }
    .lic-policie-img{
        width: 31%;
        margin: 1%;
        display: inline-block;
    }
}


