body{
    overflow: auto;
}
header{
    font-family: Arial;
    width: 100%;
}
div.main-picture img{
    width: 100%;    
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #024282;
    padding: 10px;
    font-size: 325%;
}
picture.lic-main-logo{
    width: 80%;
}
nav{
    background-color:#024282;
    text-align: center;
    padding-top:3px ;
    padding-bottom: 3px;
}

nav a.active{
    background-color: white;
    color: blue;
}
nav a{
    font-size: 350%;
    text-align: center;
    width: 97%;
    margin: 0.5%;
    background-color: transparent;
    border: transparent 4px solid;
    text-decoration: none;
    border-radius: 2px;
    display: block;
    transition-delay: 0.1s;
    transition-duration: 0.9s;
    color: white;
}
nav a:hover{
    background-color: lavender;
    color: black;
    border-color: lavender;
}
nav a:active{
    background-color: white;
    color: blueviolet;
}
.main-content{
    display: block;
    width: 100%;
    float:left;
}
.bandage{
    font-family: sans-serif;
    color:#024282 ;
    background-color:#f8c301 ;
    text-align: center;
}
footer{
    width: 100%;
    background-color: whitesmoke;
    color: #024282;
}
footer a{
    text-decoration: none;
    display: block;
    color: black;
}
.input-box{
    width: 90%;
    margin: 4.5%;
}
span.details{
    display: inline-block;
    background-color:#f8c301;
    width: 92%;
    border: #f8c301 3px solid;
    border-radius: 4px;
    margin-top: 20px;
    margin-right: 3%;
    margin-left: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    font-weight: bold;
    color: #024282;
}

.title{
    text-align: center;
    text-shadow: #f8c301;
    font-family: sans-serif;
    color: #024282;
}
input{
    width: 92%;
    margin-top: 10px;
    margin-left: 3%;
    margin-right: 3%;
    height: 45px;
}
.main-contact-us-section{
    width: 100%;
    background: #024282;

}
#form{
    font-size: 250%;
    background-color: white;
    border:black 4px solid;
    border-radius: 4px;
    width: 90%;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;

}



@media screen and (min-width:1080px){
    
    nav a{
        display: inline-block;
        width: 29%;
        padding: 1px;
    }
    #form{
        width: 440px;
    }

}




